body {
  background-color: var(--color-background);
  color: var(--color-body);
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-strong);
  color: var(--color-primary);
  letter-spacing: 0.03em;
  margin: 0;
}

h2 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-strong);
  color: var(--color-secondary);
  letter-spacing: 0.03em;
  margin: 0;
}

a {
  color: var(--color-anchor);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.container {
  max-width: 72rem;
  margin-inline: auto;
  padding-inline: 1.25rem;
}
