@mixin decorative-wave($size) {
    display: inline-block;
    content: "";
    height: $size;
    width: $size;
    margin-right: 10px;
    background:
        radial-gradient(20px 20px at 81% 44%,
        var(--color-background) 100%,
        transparent 71%
        ),
        radial-gradient(20px 20px at 65% 90%, 
        var(--color-secondary) 100%,
        transparent 71%
        ),
        radial-gradient(20px 20px at 5% 70%,
        var(--color-secondary) 100%,
        transparent 71%
        );
}