.skip-link {
    display: none;
}
header .container {
    display: grid;
    grid-template-columns: 1fr auto;
}

header h1 {
    font-size: var(--font-size-h1);
}

header .container h1:after {
    content: '';
    display: block;
    width: clamp(300px, 80%, 700px); // adjust if needed
    height: 5px;
    background-color: var(--color-anchor); // later make it a wave pattern using an SVG background
}

header h2 {
    font-size: var(--font-size-h2);
    grid-column: 1 / -1;
}

header p, header .link-github {
    grid-column: 2;
    justify-self: end;
}

header p a {
    font-size: var(--font-size-text);
    color: var(--color-body);
    text-decoration: none;
}

header p a:hover {
    text-decoration: none;
    color: var(--color-anchor);
}

header .link-github {
    display: flex;
    gap: 0.5em;
    padding: 0.25em 0.5em;

    color: var(--color-light);
    text-decoration: none;
    font-weight: var(--font-weight-strong);
    
    border: 1px solid var(--color-anchor);
    border-radius: 5px;
    background-color: var(--color-anchor);
}

header a.link-github svg {
    width: 1.25em;
    height: 1.25em;
    flex: 0 0 auto;
    display: block;
    fill: var(--color-light);
}

header .link-github:hover {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

/* for smaller screens */
@media (max-width: 600px) {
    header p, header .link-github {
        grid-column: 1 / -1;
        justify-self: start;
    }
}