.skip-link {
    display: none;
}

header {
    padding-bottom: 10px;
    margin: 10px;
    padding: 10px 0;
}

header .container {
    display: grid;
    grid-template-columns: 1fr auto;
}

header h1 {
    font-size: clamp(3rem, 7vw, var(--font-size-h1));
    padding-top: 100px;
}
header .container h1 {
    position: relative; 
    overflow: hidden;
}
header .container h1:after {
    content: '';
    display: block;
    width: clamp(300px, 80%, 700px); // adjust if needed
    // height: 5px;
    background-color: var(--color-anchor);
    --s: 10px; // size of the wave
    --b: 6px; // thickness of the line
    --m: 0.7; // curvature of the wave [0 2]
    --R: calc(var(--s)*sqrt(var(--m)*var(--m) + 1) + var(--b)/2);
    height: calc(2*var(--R));
    width: 100%;
    --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
    mask:
        radial-gradient(var(--R) at left 50% bottom calc(-1*var(--m)*var(--s)), var(--_g)) 
        calc(50% - 2*var(--s)) calc(50% - var(--s)/2 - var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x,
        radial-gradient(var(--R) at left 50% top calc(-1*var(--m)*var(--s)),var(--_g)) 
        50% calc(50% + var(--s)/2 + var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x;
}

header h2 {
    font-size: clamp(1.5rem, 5vw, var(--font-size-h2));
    grid-column: 1 / -1;
    color: var(--color-primary);
}

header p, header .link-github {
    grid-column: 2;
    justify-self: end;
}

header p a {
    font-size: var(--font-size-text);
    color: var(--color-body);
    text-decoration: none;
}

header p a:hover {
    text-decoration: none;
    color: var(--color-anchor);
}

header .link-github {
    display: flex;
    gap: 0.5em;
    padding: 0.25em 0.5em;

    color: var(--color-light);
    text-decoration: none;
    font-weight: var(--font-weight-strong);
    
    border: 1px solid var(--color-anchor);
    border-radius: 5px;
    background-color: var(--color-anchor);
}

header a.link-github svg {
    width: 1.25em;
    height: 1.25em;
    flex: 0 0 auto;
    display: block;
    fill: var(--color-light);
}

header .link-github:hover {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

/* for smaller screens */
@media (max-width: 600px) {
    header p, header .link-github {
        grid-column: 1 / -1;
        justify-self: start;
    }
}