nav {
    background-color: var(--color-primary);
    padding: 0.5rem;
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    
}

nav li {
    font-weight: var(--font-weight-strong);
    font-size: var(--font-size-text);
}

nav a {
    color: var(--color-light);
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.2s ease, transform 0.2s ease;
    border-bottom: 3px solid transparent; // for the hover underline effect
}

nav a:hover {
    text-decoration: none;
    border-bottom: 3px solid var(--color-anchor);
    transform: translateY(3px);
}

/* for smaller screens, stack the nav items vertically */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
}